@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local(''), url('/fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), 
    url('/fonts/yeseva-one-v20-latin-regular.woff') format('woff');
  }

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: local(''), url('/fonts/josefin-sans-v25-latin-300.woff2') format('woff2'), 
    url('/fonts/josefin-sans-v25-latin-300.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Josefin Sans';
    font-style: bold;
    font-weight: 600;
    font-display: fallback;
    src: local(''), url('/fonts/josefin-sans-v25-latin-600.woff2') format('woff2'), 
    url('/fonts/josefin-sans-v25-latin-600.woff') format('woff'); 
  }

:root {
    /* Colors */
    --clr-lightest: #F6F6F6;
    --clr-darkest: #000000;
    --clr-100: #8785A2;
    --clr-200: #DCC9C0;
    --clr-300: #FEF5ED;
    --clr-400: #99A799;
    --clr-500: #E8DFCA;

    --clr-text: var(--clr-darkest);
    --clr-button-bg: 220, 201, 192;
    --clr-button-border: var(--clr-200);
    --clr-focus: var(--clr-100);
    --clr-hover: var(--clr-200);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    --clr-intro-bg: var(--clr-lightest);
    --clr-intro-header: var(--clr-100);
    --clr-nav-bg: var(--clr-400);
    --clr-portfolio-bg: var(--clr-200);
    --clr-portfolio-header: var(--clr-300);
    --clr-portfolio-item-bg: rgba(255, 255, 255, 0.7);
    --clr-portfolio-tech: var(--clr-portfolio-bg);
    --clr-tools-bg: var(--clr-300);
    --clr-tools-header: var(--clr-200);
    --clr-tools-tech: rgba(255, 255, 255, 0.2);;
    --clr-tools-tech-border: var(--clr-200);
    --clr-about-bg: var(--clr-400);
    --clr-about-header: var(--clr-500);
    --clr-contact-bg: var(--clr-500);
    --clr-contact-header: var(--clr-100);
    --clr-footer: var(--clr-100);
    --clr-footer-text: var(--clr-lightest);
    --clr-footer-underline: var(--clr-300);

    /* Fonts */
    --ff-headers: 'Yeseva One', serif;
    --ff-main: 'Josefin Sans', sans-serif;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-450: 1.125rem;
    --fs-500: 1.25rem;
    --fs-550: 1.875rem;
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: 4.125rem;
    --fs-900: 6rem;

    /* Padding */
    --padding-side-sm: 10%;
    --padding-side-lg: 10rem;
    --max-width: 1680px;
    --scroll-padding: 5.5rem;
    --header-md: 5rem;
    --header-lg: 5.125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    scroll-padding-top: var(--scroll-padding);
}

html, body {
    overflow-x: hidden;
}

html:focus-within {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

body {
    background-color: var(--clr-intro-bg);
    color: var(--clr-text);
    font-family: var(--ff-main);
    font-size: var(--fs-300);
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
}

section {
    padding: 0 var(--padding-side-sm);
  }

h1, h2 {
    font-family: var(--ff-headers);
    line-height: 1;
}

h2 {
    font-size: var(--fs-600);
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (min-width: 700px) {
    body {
        font-size: var(--fs-400);
    }

    h2 {
    font-size: var(--fs-700);
 }       
}

 @media (min-width: 1200px) {
    section {
        padding: 0 var(--padding-side-lg);
    }

    body {
        font-size: var(--fs-500);
    }
} 

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
   }
   