@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local(''), url('/fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), 
    url('/fonts/yeseva-one-v20-latin-regular.woff') format('woff');
  }

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: local(''), url('/fonts/josefin-sans-v25-latin-300.woff2') format('woff2'), 
    url('/fonts/josefin-sans-v25-latin-300.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Josefin Sans';
    font-style: bold;
    font-weight: 600;
    font-display: fallback;
    src: local(''), url('/fonts/josefin-sans-v25-latin-600.woff2') format('woff2'), 
    url('/fonts/josefin-sans-v25-latin-600.woff') format('woff'); 
  }

:root {
    /* Colors */
    --clr-lightest: #F6F6F6;
    --clr-dark: #8785A2;
    --clr-darkest: #000000;
    --clr-highlight: #61C0BF;

    --clr-text: var(--clr-darkest);
    --clr-button-bg: var(--clr-lightest);
    --clr-focus: var(--clr-dark);

    --clr-intro-bg: var(--clr-lightest);
    --clr-intro-header: #8785A2;
    --clr-nav-bg: #99A799;
    --clr-portfolio-bg: #D3E4CD;
    --clr-portfolio-header: var(--clr-dark);
    --clr-tools-bg: #FEF5ED;
    --clr-tools-header: #D0B8A8;
    --clr-about-bg: #99A799;
    --clr-about-header: #E8DFCA;
    --clr-contact-bg: #E8DFCA;
    --clr-contact-header: var(--clr-dark);
    --clr-footer: #8785A2;
    --clr-footer-text: var(--clr-lightest);
    --clr-footer-underline: #61C0BF;

    /* Fonts */
    --ff-headers: 'Yeseva One', serif;
    --ff-main: 'Josefin Sans', sans-serif;

    /* Padding */
    /* --padding-side-sm: 1.5rem; */
    --padding-side-sm: 10%;
    --padding-side-md: 3rem;
    --padding-side-lg: 10rem;
    /* --padding-main-sm: 2rem; */
    --max-width: 1680px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    overflow-x: hidden;
}

html:focus-within {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

body {
    background-color: var(--clr-intro-bg);
    color: var(--clr-text);
    font-family: var(--ff-main);
    font-size: 0.875rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
}

section {
    /* min-height: 100vh; */
    padding: 0 var(--padding-side-sm);
  }

h1, h2 {
    font-family: var(--ff-headers);
    line-height: 1;
}

h2 {
    font-size: 2rem;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (min-width: 700px) {
    body {
        font-size: 1rem;
    }

    h2 {
    font-size: 3rem;
 }       
}

 @media (min-width: 1200px) {
    /* section {
        padding: 3rem var(--padding-side-lg);
    } */

    body {
        font-size: 1.25rem;
    }
} 

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
   }
   